/dts-v1/;

#include "scuba.dtsi"
#include "scuba-idp.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Scuba IDP";
	compatible = "qcom,scuba";
	qcom,board-id = <0x22 0x10>, <0x22 0x11>, <0x22 0x00>;
};
