#include <dt-bindings/gpio/gpio.h>

&soc {
	vreg_emac_phy: vreg_emac_phy {
		compatible = "qti-regulator-fixed";
		regulator-name = "vreg_emac_phy";
		gpio = <&tlmm 105 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		enable-active-high;
		regulator-enable-ramp-delay = <10000>;
	};
};

&qupv3_se0_spi {
status = "ok";

#address-cells = <1>;
#size-cells = <0>;

	can-controller@0 {
		compatible = "qcom,nxp,mpc5746c";
		reg = <0>;
		interrupt-parent = <&tlmm>;
		interrupts = <51 0>;
		spi-max-frequency = <5000000>;
		qcom,clk-freq-mhz = <40000000>;
		qcom,max-can-channels = <1>;
		qcom,bits-per-word = <8>;
		qcom,support-can-fd;
	};
};

&pmx75_vbus_detect {
	status = "ok";
};

&pmx75_eusb2_repeater {
	vdd18-supply = <&pmx75_l5>;
	vdd3-supply = <&pmx75_l10>;
	status = "ok";
};

&eusb2_phy {
	dummy-supply = <&pmx75_eusb2_repeater>;
	usb-repeater = <&pmx75_eusb2_repeater>;
};

&usb {
	extcon = <&pmx75_vbus_detect>;
};

&sdhc_2 {
	status = "ok";

	vdd-supply = <&vreg_sdc2_sd_vdd>;
	qcom,vdd-voltage-level = <2950000 2950000>;
	qcom,vdd-current-level = <0 800000>;

	vdd-io-supply = <&vreg_sdc2_sd_ls_vccb>;
	qcom,vdd-io-voltage-level = <2850000 2850000>;
	qcom,vdd-io-current-level = <0 22000>;

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc2_on>;
	pinctrl-1 = <&sdc2_off>;

	cd-gpios = <&tlmm 103 GPIO_ACTIVE_LOW>;
};
