
&pcie0 {
	status = "disabled";
};

&pcie0_msi {
	status = "disabled";
};

&pcie1 {
	status = "disabled";
};

&pcie2 {
	status = "ok";
};

&pcie2_msi {
	status = "ok";
};

&pcie_ep {
	qcom,pcie-device-id = /bits/ 16 <0x030a>;
	qcom,override-disable-sriov;
	status = "ok";
};

&mhi_device {
	qcom,mhi-ifc-id = <0x030a17cb>;
	status = "ok";
};

&mhi_net_device {
	qcom,mhi-ethernet-interface-ch-list = <46>;
	status = "ok";
};

&mhi_dev_qrtr {
	status = "ok";
};

&usb {
	dwc3@a600000 {
		qcom,iommu-dma = "bypass";
	};
};
&ipa_hw {
	qcom,use-ipa-in-mhi-mode;
	qcom,mhi-event-ring-id-limits = <9 17>;

	ipa_smmu_ap: ipa_smmu_ap {
		qcom,iommu-dma = "bypass";
	};

	ipa_smmu_wlan: ipa_smmu_wlan {
		qcom,iommu-dma = "bypass";
	};

	ipa_smmu_uc: ipa_smmu_uc {
		qcom,iommu-dma = "bypass";
	};

	ipa_smmu_wlan1: ipa_smmu_wlan1 {
		qcom,iommu-dma = "bypass";
	};

	ipa_smmu_wlan2: ipa_smmu_wlan2 {
		qcom,iommu-dma = "bypass";
	};
};

&ipa_eth_group1 {
	qcom,iommu-dma = "bypass";
};

&ipa_eth_group2 {
	qcom,iommu-dma = "bypass";
};

&qrtr {
	qcom,node-id = <2>;
};

