/ {
};

&soc {
};

/delete-node/ &gunyah_trace_buffer_mem;
/delete-node/ &smmu_debug_buf_mem;
/delete-node/ &hyp_smmu_s2_pt_mem;

&reserved_memory {
	mpssadsp_mem: mpssadsp_region@8e000000 {
		no-map;
		reg = <0x0 0x8e000000 0x0 0x10800000>;
	};

	user_contig_mem: user_contig_region {
		compatible = "shared-dma-pool";
		alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
		reusable;
		alignment = <0x0 0x400000>;
		size = <0x0 0x1000000>;
	};

	qseecom_mem: qseecom_region {
		compatible = "shared-dma-pool";
		alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
		reusable;
		alignment = <0x0 0x400000>;
		size = <0x0 0x800000>;
	};

	qseecom_ta_mem: qseecom_ta_region {
		compatible = "shared-dma-pool";
		alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
		reusable;
		alignment = <0x0 0x400000>;
		size = <0x0 0x400000>;
	};

	trusted_apps_mem: trusted_apps_region@81780000 {
		no-map;
		reg = <0x0 0x81780000 0x0 0xc00000>;
	};

};

