#include "sdxpinn.dtsi"
#include "sa525m-pmic-overlay.dtsi"

/ {
	aliases {
		spi6 = &qupv3_se6_spi;
	};
};

&qnand_1 {
	status = "ok";
};

&qupv3_se5_i2c {
	status = "okay";
	asm330lhh@6b {
		compatible = "st,asm330lhh";
		reg = <0x6b>;
		pinctrl-names = "default";
		pinctrl-0 = <&sensor_int1_default>,<&sensor_int2_default>;
		interrupt-parent = <&tlmm>;
		interrupts = <109 IRQ_TYPE_EDGE_RISING>;
		st,drdy-int-pin= <2>;
		qcom,regulator_check = <0>;
		qcom,asm330_hrtimer;
	};
};

&ipa_hw {
	qcom,ipa-config-is-auto;
	qcom,wlan-ce-db-over-pcie;
	qcom,ipa-wdi2_over_gsi;
	qcom,msm-bus,name = "ipa";
};

&tlmm {
	qcom,gpios-reserved = <>;
};

&soc {
	qcom,qrtr_gunyah_televm {
		compatible = "qcom,qrtr-gunyah";
		qcom,master;
		qcom,net-id = <0>;
		gunyah-label = <3>;
		peer-name = <5>;
	};

	qcom,qrtr_gunyah_fotavm {
		compatible = "qcom,qrtr-gunyah";
		qcom,master;
		qcom,net-id = <4>;
		gunyah-label = <9>;
		peer-name = <6>;
	};

	qmi-tmd-devices {
		modem {
			modem_v2x: modem_v2x {
				qcom,qmi-dev-name = "modem_v2x";
				#cooling-cells = <2>;
			};
		};
	};
};

&tlmm {
	hsm-rst-hog {
		gpio-hog;
		gpios = <102 0>;
		output-high;
	};
};

&qupv3_se6_spi {
	status = "okay";
	spidev0: spidev@0 {
		compatible = "qcom,spi-msm-codec-slave";
		reg =<0>;
		spi-max-frequency = <50000000>;
	};
};
