&soc {
};

&chosen {
	bootargs = "pcie_ports=compat cpufreq.default_governor=performance reboot=w";
	linux,initrd-start = <0x90000000>;
};

&pcie_ep {
	qcom,override-disable-sriov;
	status = "ok";
};

&mhi_device {
	status = "ok";
};

&mhi_net_device {
	status = "ok";
};

&pcie0 {
	status = "disabled";
};

&pcie0_msi {
	status = "disabled";
};
