#include "sdxbaagha.dtsi"
/ {
};

&soc {
};

/delete-node/ &qcom_audio;
/delete-node/ &mpss_audio_mem;
/delete-node/ &audio_heap_mem;
/delete-node/ &system_cma;
/delete-node/ &trusted_apps_mem;
&reserved_memory {
	mpss_audio_mem: mpss_audio_region@82e00000 {
		no-map;
		reg = <0x82e00000 0x3200000>;
	};

	trusted_apps_mem: trusted_apps_region@82700000 {
		no-map;
		reg = <0x82700000 0x29a000>;
	};

	system_cma: linux,cma {
		compatible = "shared-dma-pool";
		alloc-ranges = <0x00000000 0xffffffff>;
		reusable;
		alignment = <0x400000>;
		size = <0x400000>;
		linux,cma-default;
	};
};
