/dts-v1/;

#include "sdxbaagha.dtsi"
#include "sdxbaagha-qmp-lga.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SDXBAAGHA LGA 256M";
	compatible = "qcom,sdxbaagha-qmp",
		"qcom,sdxbaagha", "qcom,qmp";
	qcom,board-id = <0x10022 0x104>;
};
