/dts-v1/;

#include "sdxpinn.dtsi"
#include "sdxpinn-idp-cpe.dtsi"
#include "sdxpinn-reserved-memory-2G.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SDXPINN IDP CPE";
	compatible = "qcom,sdxpinn-idp",
			"qcom,sdxpinn", "qcom,idp";
	qcom,board-id = <0x3010022 0x403>;
};
