&llcc_device {
	/delete-property/ memory-region;

	status = "disabled";
};

&modem_pas {
	extended-memory-regions  = <&mpss_dsmharq_mem>;
};

&ipa_hw {
	qcom,use-ipa-in-mhi-mode;
};

&usb {
	dwc3@a600000 {
		qcom,iommu-dma = "bypass";
	};
};

&ramoops_mem {
	size = <0x0 0x0>;
};

&system_cma {
	size = <0x0 0x800000>;
};

&user_contig_mem {
	size = <0x0 0x0>;
};

&qseecom_mem {
	size = <0x0 0x400000>;
};

&va_md_mem {
	size = <0x0 0x800000>;
};
&qcom_audio {
	/delete-property/ memory-region;

	status = "disabled";
};
