&reserved_memory {
	#address-cells = <2>;
	#size-cells = <2>;
	ranges;

	qcn9224_0_mem: qcn9224_0_mem {
		compatible = "shared-dma-pool";
		alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
		reusable;
		alignment = <0x0 0x400000>;
		size = <0x0 0x6000000>;
	};

	qcn9224_1_mem: qcn9224_1_mem {
		compatible = "shared-dma-pool";
		alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
		reusable;
		alignment = <0x0 0x400000>;
		size = <0x0 0x6000000>;
	};

	qcn9224_2_mem: qcn9224_2_mem {
		compatible = "shared-dma-pool";
		alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
		reusable;
		alignment = <0x0 0x400000>;
		size = <0x0 0x6000000>;
	};

};

&soc {
	wifi0: qcom,cnss-qcn9224@a0000000 {
			compatible  = "qcom,cnss-qcn9224";
			reg = <0xb0000000 0x10000>;
			reg-names = "smmu_iova_ipa";
			memory-region = <&qcn9224_0_mem>;
			qcom,wlan-ramdump-dynamic = <0x600000>;
			qrtr_node_id = <0x30>;
			qca,auto-restart;
			interrupt-bmap = <0x100503>;
			board_id = <0x02>;
			wlan-en-gpio = <&tlmm 82 0>;
			pinctrl-names = "wlan_en_active";
			pinctrl-0 = <&cnss_wlan_en_active>;
			qcom,wlan-rc-num = <0x0>;
			status = "ok";
	};

	wifi1: qcom,cnss-qcn9224@b0000000 {
			compatible  = "qcom,cnss-qcn9224";
			reg = <0xc0000000 0x10000>;
			reg-names = "smmu_iova_ipa";
			memory-region = <&qcn9224_1_mem>;
			qcom,wlan-ramdump-dynamic = <0x600000>;
			qrtr_node_id = <0x31>;
			qca,auto-restart;
			interrupt-bmap = <0x100503>;
			board_id = <0x04>;
			wlan-en-gpio = <&tlmm 17 0>;
			pinctrl-names = "wlan_en_active";
			pinctrl-0 = <&cnss_wlan1_en_active>;
			qcom,wlan-rc-num = <0x1>;
			status = "disabled";
	};

	wifi2: qcom,cnss-qcn9224@c0000000 {
			compatible  = "qcom,cnss-qcn9224";
			reg = <0xc0000000 0x10000>;
			reg-names = "smmu_iova_ipa";
			memory-region = <&qcn9224_2_mem>;
			qcom,wlan-ramdump-dynamic = <0x600000>;
			qrtr_node_id = <0x32>;
			qca,auto-restart;
			interrupt-bmap = <0x100503>;
			board_id = <0x01>;
			wlan-en-gpio = <&tlmm 76 0>;
			pinctrl-names = "wlan_en_active";
			pinctrl-0 = <&cnss_wlan2_en_active>;
			qcom,wlan-rc-num = <0x2>;
			status = "disabled";
	};
};

&pcie0_rp {
	reg = <0 0 0 0 0>;
	#address-cells = <5>;
	#size-cells = <0>;
	cnss_pci0: cnss_pci0 {
		reg = <0 0 0 0 0>;
		qcom,iommu-group = <&cnss_pci_iommu_group0>;
		memory-region = <&qcn9224_0_mem>;
		qrtr_node_id = <0x30>;
		#address-cells = <1>;
		#size-cells = <1>;
		cnss_pci_iommu_group0: cnss_pci_iommu_group0 {
			qcom,iommu-msi-size = <0x1000>;
			qcom,iommu-dma-addr-pool = <0xa0000000 0x10000000>;
			qcom,iommu-dma = "fastmap";
			qcom,iommu-pagetable = "coherent";
			qcom,iommu-faults = "stall-disable", "HUPCF", "no-CFRE",
					    "non-fatal";
		};
	};
};

&pcie0 {
	qcom,no-l0s-supported;
	qcom,no-l1-supported;
	qcom,no-l1ss-supported;
	qcom,no-aux-clk-sync;
};

&pcie1_rp {
	reg = <0 0 0 0 0>;
	#address-cells = <5>;
	#size-cells = <0>;
	cnss_pci1: cnss_pci1 {
		reg = <0 0 0 0 0>;
		qcom,iommu-group = <&cnss_pci_iommu_group1>;
		memory-region = <&qcn9224_1_mem>;
		qrtr_node_id = <0x31>;
		#address-cells = <1>;
		#size-cells = <1>;
		cnss_pci_iommu_group1: cnss_pci_iommu_group1 {
			qcom,iommu-msi-size = <0x1000>;
			qcom,iommu-dma-addr-pool = <0xb0000000 0x10000000>;
			qcom,iommu-dma = "fastmap";
			qcom,iommu-pagetable = "coherent";
			qcom,iommu-faults = "stall-disable", "HUPCF", "no-CFRE",
					    "non-fatal";
		};
	};
};

&pcie1 {
	qcom,no-l0s-supported;
	qcom,no-l1-supported;
	qcom,no-l1ss-supported;
	qcom,no-aux-clk-sync;
};

&pcie2_rp {
	reg = <0 0 0 0 0>;
	#address-cells = <5>;
	#size-cells = <0>;
	cnss_pci2: cnss_pci2 {
		reg = <0 0 0 0 0>;
		qcom,iommu-group = <&cnss_pci_iommu_group2>;
		memory-region = <&qcn9224_2_mem>;
		qrtr_node_id = <0x32>;
		#address-cells = <1>;
		#size-cells = <1>;
		cnss_pci_iommu_group2: cnss_pci_iommu_group2 {
			qcom,iommu-msi-size = <0x1000>;
			qcom,iommu-dma-addr-pool = <0xc0000000 0x10000000>;
			qcom,iommu-dma = "fastmap";
			qcom,iommu-pagetable = "coherent";
			qcom,iommu-faults = "stall-disable", "HUPCF", "no-CFRE",
					    "non-fatal";
		};
	};
};

&pcie2 {
	qcom,no-l0s-supported;
	qcom,no-l1-supported;
	qcom,no-l1ss-supported;
	qcom,no-aux-clk-sync;
};


