/dts-v1/;

#include "yupik-iot-odk.dtsi"

/*==============================*/
/*     Display Related Start    */
/*==============================*/
&soc {
	lt9611_3p3_vreg: lt9611_3p3_regulator {
		compatible = "regulator-gpio";
		regulator-name = "lt9611_3p3_vreg";
		startup-delay-us = <4000>;
		enable-active-high;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&tca64_23 9 GPIO_ACTIVE_HIGH>;
		states = <1800000 0>,
			 <3300000 1>;
	};

	lt9611_1p2_vreg: lt9611_1p2_regulator {
		compatible = "regulator-gpio";
		regulator-name = "lt9611_1p2_vreg";
		startup-delay-us = <4000>;
		enable-active-high;
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1200000>;
		gpios = <&tca64_23 10 GPIO_ACTIVE_HIGH>;
		states = <1000000 0>,
			 <1200000 1>;
	};

	tca64_hdmi_out: tca64_hdmi_out_regulator {
		compatible = "regulator-gpio";
		regulator-name = "tca64_hdmi_out";
		startup-delay-us = <4000>;
		enable-active-high;
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1800000>;
		gpios = <&tca64_23 0 GPIO_ACTIVE_HIGH>;
		states = <1000000 0>,
			 <1800000 1>;
	};

	tca64_dsi0_hdmi: tca64_dsi0_hdmi_regulator {
		compatible = "regulator-gpio";
		regulator-name = "tca64_dsi0_hdmi";
		startup-delay-us = <4000>;
		enable-active-high;
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1800000>;
		gpios = <&tca64_22 2 GPIO_ACTIVE_HIGH>;
		states = <1000000 0>,
			 <1800000 1>;
	};

};

&qupv3_se0_i2c {
	status = "ok";
	qcom,clk-freq-out = <100000>;
	lt9611: lt,lt9611@2f {
		compatible = "lt,lt9611uxc";
		reg = <0x2f>;
		interrupt-parent = <&tlmm>;
		interrupts = <18 0>;
		interrupt-names = "lt_irq";
		lt,irq-gpio = <&tlmm 18 0>;
		lt,reset-gpio = <&tlmm 136 0>;
		instance_id = <0>;
		lt,non-pluggable;

		lt,preferred-mode = "1920x1080";

		vdd-supply = <&lt9611_3p3_vreg>;
		vcc-supply = <&lt9611_1p2_vreg>;
		hdmi_out-supply = <&tca64_hdmi_out>;
		dsi0_hdmi-supply = <&tca64_dsi0_hdmi>;
		lt,supply-entries {
			#address-cells = <1>;
			#size-cells = <0>;

			lt,supply-entry@0 {
				reg = <0>;
				lt,supply-name = "vdd";
				lt,supply-min-voltage = <3300000>;
				lt,supply-max-voltage = <3300000>;
				lt,supply-post-on-sleep = <50>;
			};

			lt,supply-entry@1 {
				reg = <1>;
				lt,supply-name = "vcc";
				lt,supply-min-voltage = <1200000>;
				lt,supply-max-voltage = <1200000>;
				lt,supply-post-on-sleep = <0>;
			};

			lt,supply-entry@2 {
				reg = <2>;
				lt,supply-name = "hdmi_out";
				lt,supply-min-voltage = <1800000>;
				lt,supply-max-voltage = <1800000>;
				lt,supply-post-on-sleep = <0>;
			};

			lt,supply-entry@3 {
				reg = <3>;
				lt,supply-name = "dsi0_hdmi";
				lt,supply-min-voltage = <1800000>;
				lt,supply-max-voltage = <1800000>;
				lt,supply-post-on-sleep = <0>;
			};

		};

		lt,customize-modes {
			lt,customize-mode-id@0 {
				lt,mode-h-active = <1920>;
				lt,mode-h-front-porch = <88>;
				lt,mode-h-pulse-width = <44>;
				lt,mode-h-back-porch = <148>;
				lt,mode-h-active-high;
				lt,mode-v-active = <1080>;
				lt,mode-v-front-porch = <4>;
				lt,mode-v-pulse-width = <5>;
				lt,mode-v-back-porch = <36>;
				lt,mode-v-active-high;
				lt,mode-refresh-rate = <60>;
				lt,mode-clock-in-khz = <148500>;
			};

		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				lt9611_in: endpoint {
					remote-endpoint = <&ext_dsi_out>;
				};

			};

		};
	};

};

&sde_dsi {
	qcom,dsi-default-panel = <&dsi_ext_bridge_1080p>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			ext_dsi_out: endpoint {
				remote-endpoint = <&lt9611_in>;
			};
		};
	};

};

/*==============================*/
/*     Display Related End      */
/*==============================*/
